.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    height: calc(100vh - 170px);
}

.loginWrapper {

}

.userLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.userLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.userLinks p {
    margin: 0;
    color: #8585AD;
}
.userLinks a {
    text-decoration: none;
    color: #4C4CFF;
}