.menu_item {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #8585AD;
}

.icon{
    display: flex;
    align-items: center;
}

.activeLink {
    text-decoration: none;
    color: #F2F2F3!important;
}

.activeLink > .icon > svg {
    fill: #F2F2F3;
}