.container{
    display: flex;
    max-width: 720px;
    max-height: 720px;
    width: 100%;
    background: #1C1C21;
    border-radius: 40px;
}

.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.close_btn{
    padding: 0;
    margin-left: auto;
}