.section{
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.element{
    max-height: 80px;
}
.element_container{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.ingredients{
    composes: section;
    position:relative;
    max-height: 464px;
    overflow-y:scroll;
    gap: 16px;
}
.ingredients_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.order_container{
    width: 100%;
}
.order{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
}
.total_price{
    display: flex;
    align-items: center;
    gap: 8px;
}
.total_price svg {
    width: 36px;
    height: 36px;
}