.wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.tabs{
    display: flex;
}
.title{
    display: flex;
    justify-content: left;
}

.tabContent{
    overflow-y:scroll;
    position:relative;
    height: 650px;
}