.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
    background: rgba(0, 0, 0, .6);
    transition: all ease 0.5s;
    overflow: hidden;
    overflow-y: auto;
}